body {
    height: 100%;
    background-color: rgb(69, 65, 65);
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    height: 100%;
}

.container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border: solid;
    gap: 20px;
}

.gridContainer {
    width: 600px;
    height: 600px;
    background-color: aquamarine;
    border: solid;
    display: flex;
    flex-wrap: wrap;
}

.gridBox {
    background-color: white;
    border: none;
    box-sizing: border-box;
}
